<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home | web API</title>
    <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <link rel="stylesheet" href="styles/prettify-jsdoc.css">
    <link rel="stylesheet" href="styles/prettify-tomorrow.css">
    <link rel="stylesheet" href="styles/doc.css">
    <script src="scrips/prettify/prettify.js"></script>
    <script src="scrips/prettify/lang-css.js"></script>
</head>

<body>
    <nav class="nav-bar" id="navBar">
        <div class="nav-title">
            <h1><a href="index.html" class="link">Web API</a></h1>
            <span class="version">v1.0.0</span>
        </div>
        <div class="search-container" id="searchCon">
            <input type="text" placeholder="Search">
            <ul></ul>
        </div>
        <ol class="nav-tab">
            <li id="api-tab" class="selected">
                <a href="#">
                    <h4>API</h4>
                </a>
            </li>
            <li id="example-tab">
                <a href="#">
                    <h4>示例</h4>
                </a>
            </li>
        </ol>
        <div class="nav-api">
            <h3>Classes</h3>
            <ul>
                <li>
                    <a href="Font.html">Font</a>
                    <button type="button" class="toggle-subnav btn btn-link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <div class="hidden" id="Font_sub">
                        <ul class="inner">
                            <li><a href="Font.html#setFamily">setFamily</a></li>
                            <li><a href="Font.html#setSize">setSize</a></li>
                            <li><a href="Font.html#setStyle">setStyle</a></li>
                            <li><a href="Font.html#setVariant">setVariant</a></li>
                            <li><a href="Font.html#setWeight">setWeight</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="gMap.geometry.Circle.html">Circle</a>
                    <button type="button" class="toggle-subnav btn btn-link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                    <div class="hidden" id="gMap.geometry.Circle_sub">
                        <ul class="inner">
                            <li><a href="gMap.geometry.Circle.html#getCenter">getCenter</a></li>
                            <li><a href="gMap.geometry.Circle.html#getExtent">getExtent</a></li>
                            <li><a href="gMap.geometry.Circle.html#getRadius">getRadius</a></li>
                            <li><a href="gMap.geometry.Circle.html#setCenter">setCenter</a></li>
                            <li><a href="gMap.geometry.Circle.html#setCenterAndRadius">setCenterAndRadius</a></li>
                            <li><a href="gMap.geometry.Circle.html#setRadius">setRadius</a></li>
                            <li><a href="gMap.geometry.Circle.html#setSpatialReference">setSpatialReference</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="gMap.geometry.Circle.html">Circle</a>
                    <button type="button" class="toggle-subnav btn btn-link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </li>
                <li><a href="gMap.geometry.Circle.html">Circle</a>
                    <button type="button" class="toggle-subnav btn btn-link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </li>
                <li><a href="gMap.geometry.Circle.html">Circle</a>
                    <button type="button" class="toggle-subnav btn btn-link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </li>
                <li><a href="gMap.geometry.Circle.html">Circle</a>
                    <button type="button" class="toggle-subnav btn btn-link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </li>
                <li><a href="gMap.geometry.Circle.html">Circle</a>
                    <button type="button" class="toggle-subnav btn btn-link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </li>
                <li><a href="gMap.geometry.Circle.html">Circle</a>
                    <button type="button" class="toggle-subnav btn btn-link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </li>
                <li><a href="gMap.geometry.Circle.html">Circle</a>
                    <button type="button" class="toggle-subnav btn btn-link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </li>
                <li><a href="gMap.geometry.Circle.html">Circle</a>
                    <button type="button" class="toggle-subnav btn btn-link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </li>
                <li><a href="gMap.geometry.Circle.html">Circle</a>
                    <button type="button" class="toggle-subnav btn btn-link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </li>
                <li><a href="gMap.geometry.Circle.html">Circle</a>
                    <button type="button" class="toggle-subnav btn btn-link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </li>
                <li><a href="gMap.geometry.Circle.html">Circle</a>
                    <button type="button" class="toggle-subnav btn btn-link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </li>
                <li><a href="gMap.geometry.Circle.html">Circle</a>
                    <button type="button" class="toggle-subnav btn btn-link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </li>
                <li><a href="gMap.geometry.Circle.html">Circle</a>
                    <button type="button" class="toggle-subnav btn btn-link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </li>
                <li><a href="gMap.geometry.Circle.html">Circle</a>
                    <button type="button" class="toggle-subnav btn btn-link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </li>
                <li><a href="gMap.geometry.Circle.html">Circle</a>
                    <button type="button" class="toggle-subnav btn btn-link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </li>
                <li><a href="gMap.geometry.Circle.html">Circle</a>
                    <button type="button" class="toggle-subnav btn btn-link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </li>
                <li><a href="gMap.geometry.Circle.html">Circle</a>
                    <button type="button" class="toggle-subnav btn btn-link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </li>
                <li><a href="gMap.geometry.Circle.html">Circle</a>
                    <button type="button" class="toggle-subnav btn btn-link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </li>
                <li><a href="gMap.geometry.Circle.html">Circle</a>
                    <button type="button" class="toggle-subnav btn btn-link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </li>
                <li><a href="gMap.geometry.Circle.html">Circle</a>
                    <button type="button" class="toggle-subnav btn btn-link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </li>
                <li><a href="gMap.geometry.Circle.html">Circle</a>
                    <button type="button" class="toggle-subnav btn btn-link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </li>
                <li><a href="gMap.geometry.Circle.html">Circle</a>
                    <button type="button" class="toggle-subnav btn btn-link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </li>
                <li><a href="gMap.geometry.Circle.html">Circle</a>
                    <button type="button" class="toggle-subnav btn btn-link">
                        <span class="glyphicon glyphicon-plus"></span>
                    </button>
                </li>
            </ul>
        </div>
        <div id="navExample" class="nav-example hidden">
            <h3>示例</h3>
            <ul>
                <li><a href="#">画圆</a><button type="button" class="hidden toggle-subnav btn btn-link">  <span class="glyphicon glyphicon-plus"></span></button>
                    <div class="hidden" id="drawCircle_sub"></div>
                </li>
                <li><a href="tutorial-Map-Animate.html">添加一个闪烁点</a><button type="button" class="hidden toggle-subnav btn btn-link">  <span class="glyphicon glyphicon-plus"></span></button>
                    <div class="hidden" id="Map-Animate_sub"></div>
                </li>
                <li><a href="tutorial-Map-center.html">定位地图中心点</a><button type="button" class="hidden toggle-subnav btn btn-link">  <span class="glyphicon glyphicon-plus"></span></button>
                    <div class="hidden" id="Map-center_sub"></div>
                </li>
                <li><a href="tutorial-map.html">gMap Map</a><button type="button" class="hidden toggle-subnav btn btn-link">  <span class="glyphicon glyphicon-plus"></span></button>
                    <div class="hidden" id="map_sub"></div>
                </li>
            </ul>
        </div>
    </nav>
    <div id="resizer"></div>
    <div class="main" id="main">
        <section>
            <header>
                <h2>画圆</h2>
            </header>
            <ul id="example-nav" class="nav nav-tabs">
                <li role="presentation" id="example-result-btn" class="active" onclick="showResult()">
                    <a href="#">Result</a>
                </li>
                <li role="presentation" id="example-js-btn" class="" onclick="showJs()">
                    <a href="#">JS</a>
                </li>
                <li role="presentation" id="example-html-btn" class="" onclick="showHtml()">
                    <a href="#">HTML</a>
                </li>
            </ul>
            <article>
                <iframe id="example-result" width="100%" height="800" frameborder="0" src=drawCircle.html></iframe>
                <div id="example-js" class="hidden">
                    <pre class="prettyprint source">    
    var map = new gMap.Map('map',{
        layers:[
            'OSM'
            ],
            center:[100.83469116179398, 24.73574699993908],
            zoom:9
        });
        //图形图层，opacity表示图层透明度
        var graphicLayer = new gMap.layers.GraphicLayer({opacity:0.8});
        //地图加图层
        map.addLayer(graphicLayer);
        function drawCircle(){
                //画区域,传中心点，半径，半径单位为米
                var circle = new gMap.geometry.Circle([100.83469116179398, 24.73574699993908],10000);
                //线样式，gMap.symbols.SimpleLineSymbol.STYLE_SOLID为常量，表示线的样式为solid，第二个参数为颜色，第三个参数为线的宽度，单位px
                /*
                gMap.symbols.SimpleLineSymbol.STYLE_SOLID可替换为：自己试试吧，不注释了
                gMap.symbols.SimpleLineSymbol.STYLE_DASH 虚线
                gMap.symbols.SimpleLineSymbol.STYLE_DASHDOT 虚线点结合
                gMap.symbols.SimpleLineSymbol.STYLE_DASHDOTDOT
                gMap.symbols.SimpleLineSymbol.STYLE_DOT
                gMap.symbols.SimpleLineSymbol.STYLE_LONGDASH
                gMap.symbols.SimpleLineSymbol.STYLE_LONGDASHDOT
                gMap.symbols.SimpleLineSymbol.STYLE_NULL
                gMap.symbols.SimpleLineSymbol.STYLE_SHORTDASH
                gMap.symbols.SimpleLineSymbol.STYLE_SHORTDASHDOT
                gMap.symbols.SimpleLineSymbol.STYLE_SHORTDASHDOTDOT
                gMap.symbols.SimpleLineSymbol.STYLE_SHORTDOT
                gMap.symbols.SimpleLineSymbol.STYLE_SOLID
                */
                var lineSymbol = new gMap.symbols.SimpleLineSymbol(gMap.symbols.SimpleLineSymbol.STYLE_SOLID,'red',4);
                //填充样式，gMap.symbols.SimpleFillSymbol.STYLE_SOLID为常量表示为颜色填充，第二个参数为线样式，，第三个参数为填充色
                /*gMap.symbols.SimpleFillSymbol.STYLE_SOLID可替换为:
                gMap.symbols.SimpleFillSymbol.STYLE_BACKWARD_DIAGONAL(正斜线填充)
                gMap.symbols.SimpleFillSymbol.STYLE_CROSS(方格填充)
                gMap.symbols.SimpleFillSymbol.STYLE_DIAGONAL_CROSS(斜方格填充)
                gMap.symbols.SimpleFillSymbol.STYLE_FORWARD_DIAGONAL(反斜线填充)
                gMap.symbols.SimpleFillSymbol.STYLE_HORIZONTAL(横线填充)
                gMap.symbols.SimpleFillSymbol.STYLE_VERTICAL(竖线填充)
                */
                var fillSymbol = new gMap.symbols.SimpleFillSymbol(gMap.symbols.SimpleFillSymbol.STYLE_SOLID,lineSymbol,'#FFCCCC');
                //图形，第一个参数为geometry，第二个参数为symbols
                var graphic =  new gMap.Graphic(circle,fillSymbol);
            
                //图层加图形
                graphicLayer.add(graphic);
            
        }

        function clearCircle(){
                graphicLayer.clear()
        }
                    </pre>
                </div>
                <div id="example-html" class="hidden">
                    <pre class="prettyprint source">
                            &lt;div>
                                &lt;button onclick="drawCircle()">开始画圆&lt;/button>
                                &lt;button onclick="clearCircle()">清除元素&lt;/button>
                            &lt;/div>
                            &lt;div id="map" class="map">&lt;/div>
                        </pre>
                </div>
            </article>
        </section>
    </div>
    <footer>版权归北京国科恒通科技股份有限公司所有</footer>
    <script>
        prettyPrint();
    </script>
    <script src="scrips/jquery.min.js"></script>
    <script src="scrips/doc.js"></script>
    <script src="scrips/linenumber.js"></script>
    <script>
        var exampleResult = document.getElementById('example-result');
        var exampleJs = document.getElementById('example-js');
        var exampleHtml = document.getElementById('example-html');
        var exampleResultBtn = document.getElementById('example-result-btn');
        var exampleJsBtn = document.getElementById('example-js-btn');
        var exampleHtmlBtn = document.getElementById('example-html-btn');

        function setActive(el) {
            el.className += ' active';
        }

        function setInactive(el) {
            el.className = el.className.replace(/\s*active\s*/g, '');
        }

        function show(el) {
            el.className = el.className.replace(/\s*hidden\s*/g, '');
        }

        function hide(el) {
            el.className += ' hidden';
        }

        function showJs() {
            hide(exampleHtml);
            hide(exampleResult);
            setInactive(exampleHtmlBtn);
            setInactive(exampleResultBtn);

            show(exampleJs);
            setActive(exampleJsBtn);
        }

        function showHtml() {
            hide(exampleJs);
            hide(exampleResult);
            setInactive(exampleJsBtn);
            setInactive(exampleResultBtn);

            show(exampleHtml);
            setActive(exampleHtmlBtn);
        }

        function showResult() {
            hide(exampleJs);
            hide(exampleHtml);
            setInactive(exampleJsBtn);
            setInactive(exampleHtmlBtn);

            show(exampleResult);
            setActive(exampleResultBtn);
        }
    </script>
</body>

</html>