<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <p><a href="https://github.com/coreybutler/nvm-windows/releases">nvm 下载地址</a></p>
    <p> notes: 先删除window上的node应用程序(比如：C:\Program Files\nodejs")在安装nvm</p>
    <div>
        指令： 安装node nvm install 6.11.3 查看安装完成的node版本 nvm list 切换版本 nvm use 6.11.3 卸载指定版本：uninstall 6.11.4
    </div>
    <a href="https://github.com/coreybutler/nvm-windows">官方github网站</a>
</body>


</html>